ai-clothing-platform/docs/n8n-workflow-feishu-v2.json
{
  "name": "AI场景图生成工作流-飞书触发",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feishu-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-feishu-trigger",
      "name": "Webhook触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "feishu-trigger"
    },
    {
      "parameters": {
        "operation": "getRecord",
        "appToken": "app_你的AppToken",
        "tableId": "tbl_你的TableID",
        "recordId": "={{ $json.record_id }}"
      },
      "id": "node-read-record",
      "name": "读取飞书记录",
      "type": "n8n-nodes-base.feishuBitable",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "feishuApi": {
          "id": "feishu-credentials",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-recordId",
              "name": "recordId",
              "value": "={{ $json.data.records[0].record_id }}",
              "type": "string"
            },
            {
              "id": "field-prompt",
              "name": "prompt",
              "value": "={{ $json.data.records[0].fields['提示词'][0].text }}",
              "type": "string"
            },
            {
              "id": "field-productImageToken",
              "name": "productImageToken",
              "value": "={{ $json.data.records[0].fields['商品图片'][0] }}",
              "type": "string"
            },
            {
              "id": "field-sceneImageToken",
              "name": "sceneImageToken",
              "value": "={{ $json.data.records[0].fields['场景图'] && $json.data.records[0].fields['场景图'][0] || '' }}",
              "type": "string"
            },
            {
              "id": "field-aiModel",
              "name": "aiModel",
              "value": "={{ $json.data.records[0].fields['AI模型'] || 'Gemini-3-Pro-Image' }}",
              "type": "string"
            },
            {
              "id": "field-aspectRatio",
              "name": "aspectRatio",
              "value": "={{ $json.data.records[0].fields['尺寸比例'] || '3:4' }}",
              "type": "string"
            },
            {
              "id": "field-imageCount",
              "name": "imageCount",
              "value": "={{ $json.data.records[0].fields['生成数量'] || 4 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract-params",
      "name": "提取参数",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "updateRecord",
        "appToken": "app_你的AppToken",
        "tableId": "tbl_你的TableID",
        "recordId": "={{ $json.recordId }}",
        "data": {
          "fields": {
            "状态": "处理中"
          }
        }
      },
      "id": "node-update-status-processing",
      "name": "更新状态为处理中",
      "type": "n8n-nodes-base.feishuBitable",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "feishuApi": {
          "id": "feishu-credentials",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.productImageToken }}/download",
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-download-product",
      "name": "下载商品图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "feishu-credentials",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('提取参数').item.json.sceneImageToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-scene",
      "name": "判断是否有场景图",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $('提取参数').item.json.sceneImageToken }}/download",
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-download-scene",
      "name": "下载场景图",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "feishu-credentials",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.binary && item.binary.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    item.json.real_size = buffer.length;\n    item.json.file_name = \"final_product.png\";\n  }\n}\nreturn items;"
      },
      "id": "node-binary-process",
      "name": "二进制数据处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product-url",
              "name": "productImageUrl",
              "value": "={{ $binary.data.url }}",
              "type": "string"
            },
            {
              "id": "scene-url-final",
              "name": "sceneImageUrl",
              "value": "={{ $binary.scene_image && $binary.scene_image.url || '' }}",
              "type": "string"
            },
            {
              "id": "prompt-copy",
              "name": "prompt",
              "value": "={{ $('提取参数').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "aiModel-copy",
              "name": "aiModel",
              "value": "={{ $('提取参数').item.json.aiModel }}",
              "type": "string"
            },
            {
              "id": "aspectRatio-copy",
              "name": "aspectRatio",
              "value": "={{ $('提取参数').item.json.aspectRatio }}",
              "type": "string"
            },
            {
              "id": "imageCount-copy",
              "name": "imageCount",
              "value": "={{ $('提取参数').item.json.imageCount }}",
              "type": "number"
            },
            {
              "id": "recordId-copy",
              "name": "recordId",
              "value": "={{ $('提取参数').item.json.recordId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-image-urls",
      "name": "设置图片URL和参数",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2020, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "1:1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-1to1",
      "name": "判断是否1:1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "3:4",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-3to4",
      "name": "判断是否3:4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2240, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "16:9",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-16to9",
      "name": "判断是否16:9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2240, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "9:16",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-9to16",
      "name": "判断是否9:16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2240, 560]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-1to1",
              "name": "width",
              "value": "1024",
              "type": "number"
            },
            {
              "id": "height-1to1",
              "name": "height",
              "value": "1024",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-1to1",
      "name": "1:1尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2460, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-3to4",
              "name": "width",
              "value": "768",
              "type": "number"
            },
            {
              "id": "height-3to4",
              "name": "height",
              "value": "1024",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-3to4",
      "name": "3:4尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2460, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-16to9",
              "name": "width",
              "value": "1344",
              "type": "number"
            },
            {
              "id": "height-16to9",
              "name": "height",
              "value": "768",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-16to9",
      "name": "16:9尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-9to16",
              "name": "width",
              "value": "768",
              "type": "number"
            },
            {
              "id": "height-9to16",
              "name": "height",
              "value": "1344",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-9to16",
      "name": "9:16尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2460, 520]
    },
    {
      "parameters": {
        "url": "=https://api.deerapi.com/v1/ai/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.aiModel }}\",\n  \"prompt\": \"{{ $json.prompt }} 注意：第一张图片是产品图，第二张图片是场景图。请使用第一张图片（产品图）和第二张图片（场景图）进行生成。\",\n  \"image\": \"{{ $json.productImageUrl }}\",\n  \"image2\": \"{{ $json.sceneImageUrl }}\",\n  \"width\": {{ $json.width }},\n  \"height\": {{ $json.height }},\n  \"num_images\": {{ $json.imageCount }}\n}\n",
        "options": {}
      },
      "id": "node-ai-generate",
      "name": "AI图片生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "deer-api-credentials",
          "name": "DeerAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-images",
              "name": "resultImageUrls",
              "value": "={{ $json.data.images }}",
              "type": "array"
            },
            {
              "id": "status",
              "name": "status",
              "value": "已完成",
              "type": "string"
            },
            {
              "id": "recordId-final",
              "name": "recordId",
              "value": "={{ $json.recordId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-format-result",
      "name": "格式化结果",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2900, 320]
    },
    {
      "parameters": {
        "operation": "updateRecord",
        "appToken": "app_你的AppToken",
        "tableId": "tbl_你的TableID",
        "recordId": "={{ $json.recordId }}",
        "data": {
          "fields": "={{ { \"生成结果\": $json.resultImageUrls, \"状态\": $json.status } }}"
        }
      },
      "id": "node-update-feishu-record",
      "name": "更新飞书记录",
      "type": "n8n-nodes-base.feishuBitable",
      "typeVersion": 1,
      "position": [3120, 320],
      "credentials": {
        "feishuApi": {
          "id": "feishu-credentials",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"recordId\": \"{{ $('格式化结果').item.json.recordId }}\",\n  \"message\": \"图片生成成功\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response",
      "name": "返回成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3340, 320]
    }
  ],
  "connections": {
    "Webhook触发器": {
      "main": [
        [
          {
            "node": "读取飞书记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取飞书记录": {
      "main": [
        [
          {
            "node": "提取参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取参数": {
      "main": [
        [
          {
            "node": "更新状态为处理中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新状态为处理中": {
      "main": [
        [
          {
            "node": "下载商品图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载商品图片": {
      "main": [
        [
          {
            "node": "判断是否有场景图",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否有场景图": {
      "main": [
        [
          [
            {
              "node": "下载场景图",
              "type": "main",
              "index": 0
            }
          ]
        ],
        [
          [
            {
              "node": "二进制数据处理",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "下载场景图": {
      "main": [
        [
          {
            "node": "二进制数据处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "二进制数据处理": {
      "main": [
        [
          {
            "node": "设置图片URL和参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置图片URL和参数": {
      "main": [
        [
          {
            "node": "判断是否1:1",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否3:4",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否16:9",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否9:16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否1:1": {
      "main": [
        [
          [
            {
              "node": "1:1尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否3:4": {
      "main": [
        [
          [
            {
              "node": "3:4尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否16:9": {
      "main": [
        [
          [
            {
              "node": "16:9尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否9:16": {
      "main": [
        [
          [
            {
              "node": "9:16尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "1:1尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3:4尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16:9尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:16尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI图片生成": {
      "main": [
        [
          {
            "node": "格式化结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化结果": {
      "main": [
        [
          {
            "node": "更新飞书记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新飞书记录": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T17:00:00.000Z",
  "versionId": "feishu-v2"
}
