ai-clothing-platform/docs/99-历史归档/_废弃文档/历史文件/n8n-workflow-full.json
{
  "name": "AI场景图生成工作流（完整版）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-clothing-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-clothing-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-taskId",
              "name": "taskId",
              "value": "={{ $json.taskId }}",
              "type": "string"
            },
            {
              "id": "field-userId",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "id": "field-productImageUrl",
              "name": "productImageUrl",
              "value": "={{ $json.productImageUrl }}",
              "type": "string"
            },
            {
              "id": "field-sceneImageUrl",
              "name": "sceneImageUrl",
              "value": "={{ $json.sceneImageUrl }}",
              "type": "string"
            },
            {
              "id": "field-prompt",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "field-aiModel",
              "name": "aiModel",
              "value": "={{ $json.aiModel }}",
              "type": "string"
            },
            {
              "id": "field-aspectRatio",
              "name": "aspectRatio",
              "value": "={{ $json.aspectRatio }}",
              "type": "string"
            },
            {
              "id": "field-imageCount",
              "name": "imageCount",
              "value": "={{ $json.imageCount }}",
              "type": "number"
            },
            {
              "id": "field-quality",
              "name": "quality",
              "value": "={{ $json.quality }}",
              "type": "string"
            },
            {
              "id": "field-callbackUrl",
              "name": "callbackUrl",
              "value": "={{ $json.callbackUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-parse-params",
      "name": "解析请求参数",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "1:1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-1to1",
      "name": "判断是否1:1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "3:4",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-3to4",
      "name": "判断是否3:4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "16:9",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-16to9",
      "name": "判断是否16:9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aspectRatio }}",
              "rightValue": "9:16",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-9to16",
      "name": "判断是否9:16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 560]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-1to1",
              "name": "width",
              "value": "1024",
              "type": "number"
            },
            {
              "id": "height-1to1",
              "name": "height",
              "value": "1024",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-1to1",
      "name": "1:1尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-3to4",
              "name": "width",
              "value": "768",
              "type": "number"
            },
            {
              "id": "height-3to4",
              "name": "height",
              "value": "1024",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-3to4",
      "name": "3:4尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-16to9",
              "name": "width",
              "value": "1344",
              "type": "number"
            },
            {
              "id": "height-16to9",
              "name": "height",
              "value": "768",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-16to9",
      "name": "16:9尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "width-9to16",
              "name": "width",
              "value": "768",
              "type": "number"
            },
            {
              "id": "height-9to16",
              "name": "height",
              "value": "1344",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-size-9to16",
      "name": "9:16尺寸",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 520]
    },
    {
      "parameters": {
        "url": "=https://api.deerapi.com/v1/ai/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.aiModel }}\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image\": \"{{ $json.productImageUrl }}\",\n  \"width\": {{ $json.width }},\n  \"height\": {{ $json.height }},\n  \"num_images\": {{ $json.imageCount }}\n}",
        "options": {}
      },
      "id": "node-ai-generate",
      "name": "AI图片生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "deer-api-credentials",
          "name": "DeerAPI认证"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-images",
              "name": "resultImageUrls",
              "value": "={{ $json.data.images }}",
              "type": "array"
            },
            {
              "id": "status",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-format-result",
      "name": "格式化结果",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('解析请求参数').item.json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $('解析请求参数').item.json.taskId }}\",\n  \"status\": \"completed\",\n  \"resultImageUrls\": \"{{ $json.resultImageUrls }}\",\n  \"progress\": 100\n}",
        "options": {}
      },
      "id": "node-callback",
      "name": "回调后端API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"taskId\": \"{{ $('解析请求参数').item.json.taskId }}\",\n  \"message\": \"图片生成成功\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response",
      "name": "返回成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 320]
    }
  ],
  "connections": {
    "Webhook触发器": {
      "main": [
        [
          {
            "node": "解析请求参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析请求参数": {
      "main": [
        [
          {
            "node": "判断是否1:1",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否3:4",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否16:9",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断是否9:16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否1:1": {
      "main": [
        [
          [
            {
              "node": "1:1尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否3:4": {
      "main": [
        [
          [
            {
              "node": "3:4尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否16:9": {
      "main": [
        [
          [
            {
              "node": "16:9尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "判断是否9:16": {
      "main": [
        [
          [
            {
              "node": "9:16尺寸",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "1:1尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3:4尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16:9尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:16尺寸": {
      "main": [
        [
          {
            "node": "AI图片生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI图片生成": {
      "main": [
        [
          {
            "node": "格式化结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化结果": {
      "main": [
        [
          {
            "node": "回调后端API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "回调后端API": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T14:05:00.000Z",
  "versionId": "1"
}
